<div class="box">
  <label class = "section" for="ingredients">Ingrédients à ajouter :</label>
</div>

<div class="ingredients">
  <kendo-autocomplete
      #list
      [data]="data"
      [filterable]="true"
      (valueChange)="SelectedAssetFromSTCombo($event)"
  >
  </kendo-autocomplete>
  <div *ngFor="let ingredient of addedIngredients; let i = index">
      <div>{{ ingredient.name }} :
      <input type="text" name="" id="" (valueChange)="ChangeQuantity($event)>
      {{ ingredient.unity }}
      <button mat-icon-button color="black" aria-label="Valider l'ingrédient" (click)="onAdd(i)">
        <mat-icon>check</mat-icon>
      </button>
        <button mat-icon-button color="black" aria-label="Retirer l'ingrédient" (click)="onRemove(i)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
  </div>
</div>





