<div id="add-recipe">
  <app-name-input (changedName)="onNameChanged($event)"></app-name-input>
  <p></p>
  <app-upload-photo></app-upload-photo>
  <p></p>
  <!-- Tags -->
  <!-- Style -->
  <!-- Type -->
  <p></p>
  <app-time-input (changedTime)="onTimeChanged($event)"></app-time-input>
  <p></p>
  <app-difficulty-input (changedDifficulty)="onDifficultyChanged($event)"></app-difficulty-input>
  <p></p>
  <!-- Ustensils -->
  <!-- Ingrédients -->
  <!-- Préparation -->
  <!-- Boutons annuler et publier -->
  <p></p>
  <app-tags-input></app-tags-input>
  <p></p>
</div>
