<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'side' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><a href="#"><img src="assets/img/toque.png" height="35">Profil</a></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/my-fridge"><img src="assets/img/fridge.png" height="25">Mon Frigo</a>
      <a mat-list-item routerLink="/my-receipes"><img src="assets/img/recette.png" height="25">Mes Recettes</a>
      <a mat-list-item routerLink="/my-favorites"><img src="assets/img/favorite.png" height="25">Mes Favoris</a>
      <a mat-list-item routerLink="/my-planning"><img src="assets/img/planning.png" height="25">Mon Planning</a>
      <a mat-list-item routerLink="/my-shopping-list"><img src="assets/img/liste.png" height="25">Ma Liste de courses</a>
    </mat-nav-list>
    <br>
    <mat-nav-list>
        <a mat-list-item routerLink="/add-receipe"><img src="assets/img/plus.png" height="25">Ajouter une recette</a>
    </mat-nav-list>
    <br>
    <mat-nav-list>
        <a mat-list-item href="#"><img src="assets/img/parametre.png" height="25">Paramètres</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>PickNCook</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
