.sizeImage{
  max-width: 256px;
  max-height: 256px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.section{
  font-size : 20px;
}

.box{
  display: flex;
  align-items: center;
}

.mat-icon {
  padding : 5px;
}

.form-group {
  position: relative;
  width: 74px;
  margin-bottom: 5px;

}
.input-file-trigger {
  display: block;
  padding: 10px 20px;
  transition: all .4s;
  cursor: pointer;
  border-radius: 10px;
}
.input-file {
  opacity: 0;
  cursor: pointer;
}

/* quelques styles d'interactions */
.input-file-trigger:hover,
.input-file-trigger:focus {
  background: #34495E;
  color: #39D2B4;
}
