h1{
  text-align: center;
  color: white;
  font-size:40px;
}

.background{
  padding-top: 40px;
  height:89.3%;
  background: url("../../assets/img/frigo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#add-recipe {
  margin-left: 3%;
}


.item{
  margin: 15px;
}

.fridge{
  background-color: rgba(255,255,255,0.7);
  width:80%;
  margin-left:15px;
  margin-top:50px;
  border-width: 5px;
  border-radius: 5px 5px 0 0;
  padding:10px;
}

.section{
  font-size : 20px;
}

.contenu{
  padding-top : 5px;
  font-size: 15px;
}

.box{
  display: flex;
  align-items: center;
}

#ingredient div{
  float:left;
}

.fridgeBis{
  background-color: rgba(255,255,255,0.7);
  width:70%;
  margin-left:15px;
  margin-top:50px;
  border-width: 5px;
  border-radius: 5px 5px 0 0;
  padding:10px;
}

.fridgeIng{
  background-color: rgba(255,255,255,0.7);
  width:80%;
  margin-left:15px;
  padding:10px;
}
