:host {
    padding: 30px
}

.simpleRecipe {
    border: 2px solid rgb(182, 181, 181);
    border-radius: 3px;
    margin: 5px;
    padding: 3px;
    float: left;
}

.simpleRecipeDiv {
    float: left;
    padding: 5px;
}